<template>
    <div class="bash">
        <side-bar></side-bar>
    </div>
</template>

<script>
import sideBar from '@/components/sideBar.vue';

export default {
  name: 'BashBoard',
  components: {
    sideBar,
  },
};
</script>

<style scoped lang="scss">
    .cheader{
        display: none;
    }
    .cfooter{
        display: none;
    }
</style>
