<template>
  <div class="home">
    <nav-bar></nav-bar>
    <item-bar></item-bar>
  </div>
</template>

<script>

import itemBar from '@/components/itemBar';
import navBar from '@/components/navBar';

export default {
  name: 'home',
  components: {
    itemBar,
    navBar,
  },
};
</script>
