<template>
    <div class="hc">
        这是html css页面
        <item-bar></item-bar>
    </div>
</template>
<script>


import itemBar from '@/components/itemBar';

export default {
  name: 'htmlCss',
  components: {
    itemBar,
  },
};
</script>
