<template>
    <div class="js">
        这是js页面
       <item-bar></item-bar>
    </div>
</template>
<script>
import itemBar from '@/components/itemBar';

export default {
  name: 'javaScript',
  components: {
    itemBar,
  },
};
</script>

