<template>
    <div class="cfooter"> <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted"> &copy {{footer.copyRight}}</small>
          </div>
          <div class="col-6 col-md">
            <h5>{{footer.features}}</h5>
            <ul class="list-unstyled text-small">
              <li v-for="item in footer.fItem"><a class="text-muted" href="#">{{item}}</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>{{footer.resources}}</h5>
            <ul class="list-unstyled text-small">
              <li v-for="item in footer.rItem"><a class="text-muted" href="#">{{item}}</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>{{footer.about}}</h5>
            <ul class="list-unstyled text-small">
              <li v-for="item in footer.aItem"><a class="text-muted" href="#">{{item}}</a></li>
            </ul>
          </div>
        </div>
      </footer></div>
</template>
<script>
export default {
  name: 'cfooter',
  data() {
    return {
      footer: {
        copyRight: '   Cyberhan 2017-2018',
        features: '未来的计划',
        resources: '资源',
        about: '关于',
        fItem: ['C++', 'Java', 'Python'],
        rItem: ['HTMl相关', 'JAVA相关', 'Python相关'],
        aItem: ['关注我的GitHub', '给我发email'],

      },
    };
  },
};
</script>
