<template>
    <div class="cheader">
   <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">{{header.blogName}}</h5>
      <nav class="my-2 my-md-0 mr-md-3" v-for="(i,key) in header.blogNav" >
        <a class="p-2 text-dark" :href="key">{{i}}</a>
      </nav>
    </div>
    </div>
</template>
<script>
export default {
  name: 'cheader',
  data() {
    return {
      header: {
        blogName: 'Cyberhan的个人博客',
        blogNav: { home: '首页', html: 'HTML/CSS', js: 'JavaScript' },
      },
    };
  },
};
</script>
