<template>
<div class="blog-post">
    <h4 class="blog-post-title">{{articleItem.title}}</h4>
    <div class="article">
    <!-- 在这里插入文字 -->
    <router-view/>
    </div>
    <p class="blog-post-meta">{{articleItem.date}}</p>
</div>
</template>
<script>
export default {
  name: 'itemBar',
  data() {
    return {
      articleItem: {
        title: '博文标题',
        date: '2018年8月20号',
      },
    };
  },
};
</script>
<style lang="scss" scoped>
.blog-post {
    box-shadow: 2px 2px 5px gray;
    padding: .5rem;
  .blog-post-title{
    text-align: left;
    margin: .5rem;
  }
  .blog-post-meta{
      text-align: right;
      margin: .5rem;

  }
}
</style>

