<template>
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">大消息推送</h1>
          <p class="lead my-3">消息详情</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">点击阅读更多...</a></p>
        </div>
      </div>
</template>
<script>
export default {
  name: 'navBar',
};
</script>
<style lang="scss">
// .jumbotron{
//    h1{
//        text-align: left;

//    }
// }
</style>


</style>

