<template>
  <div id="app">
    <div class="container">
    <Cheader></Cheader>
    <router-view/>
    <Cfooter></Cfooter>
    </div>
  </div>
</template>
<script>
import Cheader from '@/components/cheader';
import Cfooter from '@/components/cfooter';

export default {
  name: 'app',
  components: {
    Cheader,
    Cfooter,
  },
};
</script>


<style lang="scss">
#app {
  font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
